---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import PoemCard from "../components/PoemCard.astro";

const poemCollection = await getCollection("poemCollection");

const poemCollectionOrdered = poemCollection.map(poemCollection => poemCollection).sort(
  (a, b) => Number(a.slug.split("-")[0]) - Number(b.slug.split("-")[0])
);
---

<Layout title="Early 20s - Andrijan Tasevski">
  <main class="flex flex-col gap-20">
    <section class="flex flex-col gap-5">
      <h1 class="text-4xl lg:text-6xl font-bold">Early 20s</h1>

      <p class="text-lg">by Andrijan Tasevski</p>
    </section>

    <ul>
      {poemCollectionOrdered.map((poem) => <PoemCard poem={poem} />)}
    </ul>
  </main>
</Layout>
